<?xml version="1.0" encoding="UTF-8"?>

<!-- setting for output of phpunit output command line -->

<phpunit 
    colors="true" 
    verbose="true" 
    bootstrap="vendor/autoload.php">


    <testsuites>
        <testsuite name="Test suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

</phpunit>